[Unit]
DefaultDependencies=no
Before=qrtr-ns.service

[Service]
Type=oneshot
ExecStart=/usr/sbin/msm-firmware-loader.sh

[Install]
WantedBy=multi-user.target
